* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px 20px;
    
}

.header-topic {
    border: 1px solid black;
    background-color: rgb(236, 236, 236);
    border-radius: 3px;
    list-style: none;
    padding: 20px;
    font-size: 20px;
}

h1, h2 {
    text-align: center;
    margin: 30px
}

h1 {
    font-size: 40px;
    font-weight: bolder;
}

h2 {
    font-size: 30px;
    width: 39%;
    margin: 30px auto;
}

.startButton {
    display: block;
    margin: 10px auto;
    padding: 15px;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 30px;
}

.hide {
    display: none;
}

.buttons {
    display: block;
    text-align: center;
}

.btn {   
    padding: 20px;
    list-style: none;
    border: 2px solid black;
    min-width: 260px;
    list-style: none;
    margin: 10px auto;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

#score-count {
    font-size: 40px;
    font-weight: bold;
}

.user-scores {
    display: flex;
    justify-content:space-between ;
    padding: 20px;
    list-style: none;
    width: 20%;
    margin: 10px auto;
    background-color: rgb(208, 193, 223);
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

#correctMessage, #wrongMessage {
    display: block;
    font-style: italic;
    color: grey;
    text-align: center;
    font-size: 30px;
    margin: 10px auto;

    
}
/* 
#choices {
    width: 50%;
    margin: 0 auto;
    list-style: none;
} */

#initials-section {
    display: flex;
    justify-content: center;
    margin: 20px
}

#submit, .standard-button {
    margin-left: 10px;
    padding: 5px 10px;    
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}

#initials {
    height: 25px;
    margin: auto 10px auto 10px;
}

#score {
    text-align: center;
    font-size: 30px;
}

#initials-text {
    font-size: 20px;
    margin: auto 10px auto 10px;
}

#highScores {
    border: 1px solid black;
    background-color: rgb(236, 236, 236);
    border-radius: 3px;
    list-style: none;
    padding: 20px;
    
    font-size: 20px;
    font-style: none;
}

#buttons {
    display: flex;
    justify-content: center;
    margin: 20px;  
}

#reset-btn, #goback-btn {
    margin: 0 20px
}